.idea/
.vscode/
node_modules/
build/
temp/
.env
coverage
ormconfig.json

tmp/*
!tmp/.gitkeep

src/shared/infra/knex/database/db.sqlite
src/shared/infra/knex/database/test.sqlite

node_modules

uploads/*
!uploads/.gitkeep

!uploads/eletronicos.svg
!uploads/lampadas.svg
!uploads/oleo.svg
!uploads/organicos.svg
!uploads/papeis-papelao.svg
!uploads/pilhas-baterias.svg
